<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/LogoLetras.png" id="icon" alt="User Icon" />    
      </div>
      
      <a class="h3" (click)="textos()">
        <h3 style="text-align:center" class="fadeIn primero">Información</h3>
    </a><br>
    <a *ngIf="statusM">
        <h4>
            {{msjUsuario}}
        </h4>
    </a><br>

    <a class="h3" (click)="textos1()">
      <h3 style="text-align:center" class="fadeIn primero">Creador</h3>
  </a><br>
  <a *ngIf="statusM1">
      <h4>
          {{msjUsuario1}}
      </h4>
  </a><br>
    
    <br>

    <input type="submit" (click)="login()" value="Iniciar Sesion">       
    
    <input type="submit"(click)="registro()" value="Registrarse" >
        
    
  
    </div>
  </div>