<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<div id="page">
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="blog">&nbsp;&nbsp;&nbsp; UBlog</a>
            <br>
            <button type="button" class="btn btn-light" (click)="direccionar()">
                Publicar
            </button>&nbsp;
            <button type="button" class="btn btn-success" (click)="editarUsuario()" style="position: absolute;left: 81%;">
                <i class="icon-edit icon-white"></i>
                Editar Perfil
            </button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="cS()" style="position: absolute;left: 90%;"
                onclick="location.reload()">
                <i class="glyphicon glyphicon-remove"></i>
                Cerrar Sesion
            </button>
        </nav>
        
    
    </div>
</div>
<br><br><br>